In [6]:
import pandas as pd

uri='https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'

dados = pd.read_csv(uri)

In [7]:
mapa = {
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato", 
    "bought" : "comprou"
}
dados = dados.rename (columns = mapa)
dados

    principal  como_funciona  contato  comprou
0           1              1        0        0
1           1              1        0        0
2           1              1        0        0
3           1              1        0        0
4           1              1        0        0
..        ...            ...      ...      ...
94          0              0        1        0
95          1              1        1        1
96          0              0        1        0
97          0              1        0        0
98          0              0        0        0

[99 rows x 4 columns]

In [11]:
x = dados [["principal", "como_funciona", "contato"]]
y = dados[["comprou"]]

    comprou
0         0
1         0
2         0
3         0
4         0
..      ...
94        0
95        1
96        0
97        0
98        0

[99 rows x 1 columns]

In [12]:
dados.shape

(99, 4)

In [15]:
treino_x = x[:75]
treino_y = y[:75]

teste_x = x[75:]
teste_y = y[75:]

print("Treinaremos %d elementos e testaremos %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos 75 elementos e testaremos 24 elementos

In [16]:
from sklearn.svm import LinearSVC

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [23]:
from sklearn.metrics import accuracy_score

previsoes = modelo.predict(teste_x)
acuracia = accuracy_score(teste_y, previsoes)*100

In [24]:
print("A acurácia do modelo é: %.2f%%" % acuracia)

A acurácia do modelo é: 95.83%